@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Lexend', sans-serif;
  line-height: 1.5;

  --primary-color: #EDB046;
  --secondary-color: #BA5112;
  --neutral-color: #251814;
  --white-color: #fff;
}

body {
  margin: 0;
}

h1,
h2,
h3,
p,
a,
.nav-item {
  color: var(--neutral-color);
}

p {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.logo {
  @apply text-2xl font-bold py-3;
  color: var(--secondary-color);
}

.main {
  margin-left: 14rem;
}

.content {
  margin: 0 4rem;
}

.task-section {
  @apply flex flex-col justify-between;
}

@media screen and (max-width: 800px) {
  .main {
    margin-left: 12rem;
  }

  .content {
    margin: 0 2rem;
  }
}

@media screen and (max-width: 426px) {
  .main {
    margin-left: 0;
  }
  
  .content {
    margin: 0 2rem;
  }

  .logo {
    @apply text-xl py-0;
  }
}